# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# VS Code
.vscode/
*.code-workspace

# IntelliJ / Eclipse
.idea/
*.iml
.classpath
.project
.settings/

# Logs e arquivos temporários
*.log